apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
      - name: todo-app
        image: kallepohjanjoki/todo-app:v1.1
        env:
        - name: PORT
          value: "3000"
        ports:
        - containerPort: 3000
